@import "../css/reset.css";

* {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

img {
  width: 100%;
}

html {
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0,teal),color-stop(100%,#365480));
  background: -webkit-linear-gradient(120deg,#365480,teal);
  background: linear-gradient(330deg,#365480,teal);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008080',endColorstr='#365480',GradientType=0);
  font-family: Source Sans Pro,sans-serif;
  overflow-y: scroll;
  min-height: 100vh;



  body {
    background-color: transparent;

    #root {

      .content {
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: fadeInUp;
      }

      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translate3d(0, -10px, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }

      .nav__container {
        background-color: #333333;
        overflow: auto;
        white-space: nowrap;

        a.link {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 15px;
          text-decoration: none;
        }

        a.link__active,
        a:hover {
            background-color: black;
        }
      }

      .nav__container.nav__active {
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;

        @media (min-width: 630px) {
          left: 50%;
          width: 630px;
          margin-left: -315px;
        }
      }

      .nav__container.nav__active {
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: slideDown;
      }
      @keyframes slideDown {
        from {
          transform: translate3d(0, -100%, 0);
        }
        to {
          transform: translate3d(0, 0, 0);
        }
      }
      .nav__container.nav__active.nav__inactive {
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-name: slideUp;
      }
      .nav__container.nav__active.nav__inactive.nav__initial {
        animation-duration: 0ms;
      }
      @keyframes slideUp {
        from {
          transform: translate3d(0, 0, 0);
        }

        to {
          transform: translate3d(0, -100%, 0);
        }
      }

      .fadeOut {
        animation-name: fadeOut;
      }

      .container-fluid {
        padding: 0;
      }

      header {
        max-width: 630px;
        margin: 15px auto 0;
        position: relative;
        z-index: 9;
      }

      .content {
        max-width: 600px;
        font-size: 18px;
        margin: 0 auto 50px;
        white-space: pre-wrap;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 15px 25px;

        div {
          &:last-child {
            a {
              br {
                display: none;
              }
            }
          }
        }

        a {
          color: white;
          &:hover {
            color: rgba( 255, 255, 255, 0.75);
          }
        }
      }

      @media (max-width: 630px) {
        header,
        .content {
          margin-top: 0;
          margin-bottom: 0px;
        }
        .content {
          padding-bottom: 50px;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {

      }
    }
  }
}
