html {

  font-family: verdana;
  background-color: #252b3d;

  body {

    color: white;

    #root {

      background-color: #252b3d;

      .text-right {

        text-align:right;
      }
    }
  }
}
